<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>🔼 Image Upscaler</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden; /* Prevent scrollbars */
    }

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      display: block; /* Remove inline spacing */
    }

  </style>
</head>
<body>
  <iframe src="http://localhost:5001/" allow="clipboard-write; camera; microphone"></iframe>
</body>
</html>
