<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>📏 Image Resizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename = 'Image_Resizer/style_resizer.css') }}" rel="stylesheet">
    <script src = "{{ url_for('static', filename = 'Image_Resizer/main_resizer.js') }}"></script>
</head>
<body>

    <div class="container">
        <h2>📏 Image Resizer</h2>

        <form name="resizeForm" action="{{ url_for('imgResizer_bp.resize') }}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div>
                <label>Select Image:</label>
                <input type="file" name="image" required>
            </div>

            <div>
                <label>Width (optional):</label>
                <input type="number" name="width" min="1">
            </div>

            <div>
                <label>Height (optional):</label>
                <input type="number" name="height" min="1">
            </div>

            <button type="submit">📐 Resize</button>
        </form>

        {% if show_image %}
        <div class="result">
            <h3>🖼️ Resized Image Preview:</h3>
            <img src="{{ output_img }}" alt="Resized Image">
            <a href="{{ download_url }}" download>
                <button class="download-btn">⬇️ Download Resized Image</button>
            </a>
        </div>
        {% endif %}
    </div>

</body>
</html>
