<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🔼 Image Upscaler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Image_Upscaler/style_upscaler.css') }}">

</head>
<body>
    <h2>🔼 Enhance & Upscale Your Image</h2>

    <form action="enhance" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <br>
        <button class="btn" type="submit">🚀 Upscale Image</button>
    </form>

    {% if show_image %}
    <div class="output-section">
        <h2>✨ Enhanced Output</h2>
        <img src="{{ output_img }}" alt="Upscaled Image">
        <br>
        <a class="download-btn" href="{{ download_url }}" download>
            <button class="btn">⬇️ Download Enhanced Image</button>
        </a>
    </div>
    {% endif %}

</body>
</html>
